<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.SysCountRecordMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.SysCountRecord" >
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="total_fee" property="totalFee" />
    <result column="total_count" property="totalCount" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <insert id="saveSysCountRecord" parameterType="com.imooc.pojo.SysCountRecord" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `leecx`.`sys_count_record` (
      `user_id`,
      `total_fee`,
      `total_count`
    )
    VALUES
    (
      #{userId},
      #{totalFee},
      #{totalCount}
    )
  </insert>

  <select id="getUserRecords" resultMap="BaseResultMap" parameterType="map">
    select * from sys_count_record
    <where>
      <if test="username != null">
        username=#{username}
      </if>
      <if test="userId != null">
        and user_id=#{userId}
      </if>
      <if test="idNo != null">
        and id_no=#{idNo}
      </if>
      <if test="workNo != null">
        and work_no=#{workNo}
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>