<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山东省水费收缴平台</title>
</head>
<body>

<div style="align-content: center">
    <form action="/user/login" method="post">
        <label for="user-name-label">用户名</label>
        <input type="text" name="username" id="user-name-label">
        <br>
        <label for="user-password-label">密码</label>
        <input type="password" name="password" id="user-password-label">
        <br>
        <button type="submit">登录</button>
    </form>
</div>
</body>
</html>