<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('table', function(){
            var table = layui.table;

            table.render({
                elem: '#test'
                ,url:'http://localhost:8080/user/jump/info'
                ,toolbar: true
                ,data:[{pageNum:1, pageSize:20}]
                ,title: '用户数据表'
                ,totalRow: true
                ,cols: [
                    [
                    {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计行'}
                    ,{field:'totalFee', title: '总费用'}
                    ,{field:'totalCount', title: '计算参数'}
                    ,{field:'createTime', title: '计算时间'}
                ]
                ]
                ,page: true
                ,response: {
                    statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                }
                ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.data.total, //解析数据长度
                        "data": res.data.list //解析数据列表
                    };
                }
            });
        });
    </script>
    <title>查询记录</title>
</head>
<body>
<table class="layui-hide" id="test"></table>
<!--<table style="width:70%;" cellpadding="2" cellspacing="0" border="1" bordercolor="#000000">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>userId</td>-->
<!--        <td>总费用</td>-->
<!--        <td>计算参数</td>-->
<!--        <td>计算时间</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="human : ${record.list}">-->
<!--        <td th:text="${human.userId}"></td>-->
<!--        <td th:text="${human.totalFee}"></td>-->
<!--        <td th:text="${human.totalCount}"></td>-->
<!--        <td th:text="${human.createTime}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>